body{
    margin:0 auto;
}
/*menu topo*/
.menuGl {
	display:block;
}

.menuGl ul{
    list-style :none;
    top:-20px;
	left:300px;
}

.menuGl li{
    display:inline;
}

div#gsTopo{
    display: block;
}

/* header */ 
.headerGE{
    background-color:#3b9c00;
}

.lista-jogadores{
    padding: 10px;
}

td, th { border: 1px solid #111; padding: 6px; }
th { font-weight: 700; }

.barra-atleta{
    border-right: hidden;
    border-top: hidden;
    border-left: hidden;
}
